<div id="page_manual" class="viewport with_margin">
  <h2>Manual</h2>
  <p>
  <a href="/manual_se.pdf" class="pdf"><%= t('swedish_manual')%> (122 KB, PDF)</a>
  </p>

  <h2><%= t('instruction_movie')%></h2>
  <p>
  <object width="450" height="253"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=7756647&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=7756647&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="450" height="253"></embed></object>
  </p>

  <h2><%= t('developer_information')%></h2>
  <dl>
    <dt><%= t('404_information')%></dt>
    <dd><%= t('login_information')%><strong> 404.custom.php </strong><%= t('folder')%><strong> 404.php</strong>. <%= t('to_be_used')%>.</dd>
  </dl>
</div>
