<li id="page_<%= page.id %>" class="<%= @page && @page.id == page.id ? 'selected' : 'unselected' %> page <%= page.show_in_menu? ? 'visible' : 'hidden' %>" >
<a href="<%= url_for([:admin, page]) %>" class="<%= page.parent ? "subpage" : "root" %> <%= cycle('odd', 'even') %>">
  <%= truncate(h(page.title(page.website.default_language).blank? ? page.default_title(page.website.default_language) : page.title(page.website.default_language)), :length => 30) %>
  <% if page.children.length > 0 %>
    <img src="<%= asset_path('arrow_expanded.png') %>" alt="" onclick="toggle_subpages(this, '<%= page.id %>'); return false;" style="position: absolute; right: 3px; top: 3px;" />
  <% end %>
</a>
<% if page.children.length > 0 %>
  <ul id="page_<%= page.id %>_children" class="page_children" style="display: block;">
    <%= render :partial => 'admin/pages/page', :collection => page.children.order('position asc') %>
  </ul>
<% end %>
</li>
