<%= link_to admin_page_path(@page) do %>
  &larr; Tillbaka till <%= @page.title %>
<% end %>

<script>
  $(function () {
    new GalleryPhotoSorter('#gallery_photos');
    function GalleryPhotoSorter(selector) {
      this.gallery = $(selector);

      this.gallery.sortable({
        handle: '.handle',
        placeholder: 'GalleryItem placeholder',
        update: updateGalleryPhoto
      });

      function updateGalleryPhoto() {
        $.post($(this).data('update-url'), $(this).sortable('serialize'))
      }
    }
  });
</script>

<style type="text/css">
  #gallery_photos {
    overflow: hidden;
  }
  #gallery_photos .handle {
    cursor: move;
  }
  .GalleryItem {
    float: left;
  }
  .GalleryItem.photo {
    height: 150px;
    width: 110px;
    margin: 6px;
    padding: 3px;
  }
  .GalleryItem.placeholder {
    width: 100px;
    height: 100px;
    margin: 7px 17px 57px 7px;
    padding: 0;
    border: 2px dashed #444;
    border-radius: 4px;
    background: #ddd;
  }
</style>

<h1><span id="gallery_title"><%= @gallery.title || t('gallery') %></span>
<%= link_to_function image_tag("edit.png"), "$('#edit_gallery_form').toggle(); $('#gallery_photos').toggle();" %></h1>
<%= link_to_function image_tag("close_window.png", :style => "position: absolute; top: 0px; right: 0px;"), "frames['edit'].load_editables_and_menus(); $('#overlay-container').hide();" %>

<div id="edit_gallery_form" style="display: none;">
<%= form_for([:admin, @gallery], html: {method: "put", multipart: true}) do |f| %>

<p>
  <%= f.label :title, t('title') %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :liquid %><br />
  <%= f.text_area :liquid, :rows => 5, "ng-non-bindable" => "true" %>
</p>

<p>
  <%= f.label :thumbnail_size %><br />
  <%= f.text_field :thumbnail_size %>
</p>

<p>
  <%= f.label :large_size %><br />
  <%= f.text_field :large_size %>
</p>

<p>
  <%= t('templates') %>:<br />
  <% Gallery::STYLES.each do |style| %>
  <a href="#" class="gallery-style-selector" onclick="$('#gallery_liquid').val(($(this).next('textarea').val())); return false;"><%= style.titleize %></a>
  <textarea style="display: none;" ng-non-bindable=""><%= File.read("#{Rails.root}/lib/liquid_templates/galleries/#{style}.liquid").to_s %></textarea>
  <% end %>
</p>


<%= f.submit t('save') %>
<% end %>



</div>



<div id="gallery_photos_container" data-source="<%= url_for(:controller => 'admin/gallery_photos', :action => 'index', :gallery_id => @gallery.id) %>">
<%= form_for([:admin, GalleryPhoto.new], :format => :js, :html => { :multipart => true, :target => "gallery_upload_iframe" }) do |f| %>
  <%= f.hidden_field :gallery_id, :value => @gallery.id %>
  <%= f.file_field :photo, multiple: 'true' %>
  <%= f.submit t('upload') %>
<% end %>

<div id="gallery_photos" data-update-url="<%= sort_admin_gallery_photos_path(gallery_id: @gallery) %>">
  <%= render partial: "admin/gallery_photos/photo", collection: @gallery.gallery_photos.order("position") %>
</div>

<!-- this receives the upload of oversight images -->
<div style="height: 0px; width: 0px; overflow: hidden;">
  <iframe name="gallery_upload_iframe" onload="reload_gallery_photos();"></iframe>

</div>

</div>
</div>

</div>
