<p>
  <b>Website:</b>
  <%=h @gallery.website_id %>
</p>

<p>
  <b>Content item:</b>
  <%=h @gallery.content_item_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @gallery.title %>
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
