<%= form_for([:admin, @website, Picture.new], :html => { :multipart => true }) do |f| %>
  <%= f.file_field :data %>
  <%= f.submit %>
<% end %>

<% @pictures.each do |picture| %>

  <div class="asset-box picture-insertion">
    <%= image_tag picture.data.url(:thumb), { "data-content" => picture.data.url(:content), :class => 'image' } %>
    <span class="filename"><%= picture.data_file_name %></span>
    <%= link_to image_tag("delete.png"), "/admin/pictures/#{picture.id}", :method => :delete, :confirm => "Really delete?" %>
  </div>

<% end %>

<style type="text/css">
.asset-box {
 width: 128px;
 margin: 5px 10px 5px 0;
 float: left;
}

.asset-box span.filename {
  display: block;
  clear: both;
  text-align: center;
  height: 2.5em;
  overflow: hidden;
  font-size: 10px;
}

.asset-box img.image {
  height: 128px;
  width: 128px;
}

</style>

<script type="text/javascript">

  $(".picture-insertion img.image").click(function(){
    var url = $(this).data('content');
    var funcNum = getUrlParam('CKEditorFuncNum');
    window.opener.CKEDITOR.tools.callFunction( funcNum, url );
    window.close();
  });

  function getUrlParam(paramName)
  {
    var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i') ;
    var match = window.location.search.match(reParam) ;
    return (match && match.length > 1) ? match[1] : '' ;
  }
</script>