<h2><%= t('reset_password') %></h2>
<p>
  <%= t('reset_password_instructions') %>
</p>

<%= form_tag do %>
  <%= hidden_field_tag :id, :value => params[:id] %>
  <%= hidden_field_tag :code, :value => params[:code] %>
  
  <label for="password"><%= t('password') %></label><br />
  <%= password_field_tag :password %>
  
  <%= submit_tag t('continue') %>
<% end %>