<h1>Editing domain</h1>


<%= form_for(@domain) do |f| %>
  <p>
    <b>Website</b><br />
    <%= f.text_field :website_id %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @domain %> |
<%= link_to 'Back', domains_path %>
