<h1>New domain</h1>

<%= form_for(@domain) do |f| %>
  <p>
    <%= f.hidden_field :website_id, @website.id %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', domains_path %>
