<h2><%= t('blogposts.edit') %></h2>

<%= form_for([:admin, @post]) do |f| %>

  <p>
    <%= f.submit t('save_changes') %>
  </p>

  <p>
    <%= f.label :title, t('title') %><br />
    <%= f.text_field :title %>
  </p>

	<p>
		<%= f.label :language, t('language') %><br />
		<%= f.select :language, Language.all.collect{ |l| [l.name, l.short_code]} %>
	</p>

	<p>
		<%= f.label :slug, t('slug') %><br />
		<%= @website.domain %>/<%= f.text_field :slug, :value => @post.slug %>
	</p>

	<p>
		<%= f.label :blog_category_id, t('category') %><br />
		<%= f.select :blog_category_id, @website.blog_categories.collect{ |c| [c.name, c.id]} %> <%= link_to t('blogposts.edit_categories'), [:admin, :blog_categories], :class => 'button ajax' %>
	</p>

  <p>
    <%= f.label :content, t('content') %><br />
    <%= f.text_area :content, :class => 'ckeditable' %>
  </p>
  <p>
    <%= f.check_box :allow_comments %> <%= f.label :allow_comments, t('allow_comments') %><br />
  </p>

<% end %>
