{% include 'header' %}

<form accept-charset="UTF-8" action="/members/passwords/{{id}}/{{token}}" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" type="hidden" value="{{form_authenticity_token}}">
    <input name="_method" type="hidden" value="patch">
  </div>

  <p>Här kan du välja ett nytt lösenord för ditt medlemskonto</p>

  <p>
    <label for="password">Lösenord *</label><br>
    <input id="password" name="member[password]" type="password"
      {% if member.errors contains 'password' %} class="error"{% endif %}>
    {% for error in member.errors.password %}
    <small>{{error}}</small>
    {% endfor %}
  </p>

  <p>
    <label for="password_confirmation">Lösenordsbekräftelse *</label><br>
    <input id="password_confirmation" name="member[password_confirmation]" type="password"
      {% if member.errors contains 'password_confirmation' %} class="error"{% endif %}>
    {% for error in member.errors.password_confirmation %}
    <small>{{error}}</small>
    {% endfor %}
  </p>

  <p>
    <input class="submit" name="commit" type="submit" value="OK">
  </p>
</form>

{% include 'footer' %}
