<%= form_for [:admin, @custom_data_list] do |f| %>
  <p>
    <%= f.label :title, t('title') %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :liquid_name, t('liquid_name') %><br />
    <%= f.text_field :liquid_name %><br />
		<span class="tip">This is used when programming your site. Normally using lowercase of the name of your list. <br />
		A list of 'Medical Students' would be called 'medical_students' in this field.</span>
  </p>
  
  <p>
    <%= f.label :page_id, t('single_page') %><br />
    <%= f.select :page_id, @website.pages.all(:order => :position).collect{ |pt| ["-" * pt.level.to_i + pt.title.to_s, pt.id] } %>
    
    <span class="tip">
      Where in the hierarchy does this belong?
    </span>
  </p>

	<!--p>
		<%= f.label :page_template_id, t('page_template') %><br />
		<%= f.select :page_template_id, @website.page_templates.collect{ |pt| [pt.name, pt.id] }, :include_blank => true %><br />
		
		<span class="tip">
			If a page template is selected, each item in this list will be given a unique url (<%= @website.domain %>/{liquid_name}/{id}) and rendered on the website.
		</span>
		
	</p-->
	
	<p>
		<%= f.label :sort_field_id, t('sort_by') %><br />
		<%= f.select :sort_field_id, @custom_data_list.custom_data_fields.collect{ |field| [field.name.titleize, field.id] } %> <%= f.check_box :sort_field_order %> <%= f.label :sort_field_order, t('reverse_order') %>
	</p>

    <%= f.hidden_field :website_id, :value => @website.id %>
  <p><%= f.submit t('save') %></p>
<% end %>
