<h1>Editing extra_view</h1>

<%= form_for(@extra_view) do |f| %>

  <p>
    <%= f.label :plugin_id %><br />
    <%= f.text_field :plugin_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @extra_view %> |
<%= link_to 'Back', extra_views_path %>
